.projectMenuContainer {
  display: inline-block;
  vertical-align: top;
  height: calc(100vh - 55px);
  overflow-y: scroll;
  width: 400px;
  padding-bottom: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
