.container {
  text-align: center;
  background-color: rgb(48, 63, 159);
  height: 50px;
  animation: fadeIn 0.25s forwards;
}

.title {
  float: left;
  width: 250px;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.icons {
  float: right;
  margin-top: 10px;
  width: 150px;
}

.icon {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-left: 50px;
  transition: color 0.25s;
}
.icon:hover {
  color: rgb(255, 153, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
