.title {
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu {
  text-align: center;
}

.deleteIcon {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 340px;
  height: 15px;
  width: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 7px;
  color: rgb(0, 0, 0, 0.25);
  border: 2px solid rgb(0, 0, 0, 0.25);
  border-radius: 100%;
  transition: color 0.25s, border 0.25s;
}
.deleteIcon:hover {
  color: rgb(255, 87, 34);
  border: 2px solid rgb(255, 87, 34);
}

.textInput {
  font-size: 0.75em;
  text-align: center;
  margin-top: 15px;
  animation: delayedFadeIn 0.5s forwards;
}

.container {
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid rgb(0, 0, 0, 0.25); */
  animation: fadeIn 0.5s forwards;
  margin-top: 20px;
  transition: box-shadow 0.25s, height 0.25s;
}

.openInNewWindowCheckbox {
  animation: fadeIn 0.5s forwards;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
